<launch>
  <arg name="model" />
  <arg name="trim_stack_base_z" default="0.639"/>
  <param
    name="robot_description"
    command="$(find xacro)/xacro $(find drone)/urdf/drone.urdf.xacro trim_stack_base_z:=$(arg trim_stack_base_z)" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find drone)/urdf.rviz" />
</launch>
